@model MvcPartialView.Models.Produto
@{
    ViewBag.Title = "Cadastrar";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js"></script>
<ol class="round">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            Nome
            @Html.TextBoxFor(m => m.Nome)
        </div>

        <div class="form-group">
            Quantidade
            @Html.TextBoxFor(m => m.Quantidade)
        </div>

        <div class="form-group">
            Descrição
            @Html.TextBoxFor(m => m.Descricao)
        </div>

        <div class="form-group">
            Categoria
            @Html.TextBoxFor(m => m.Categoria)
        </div>

        <input type="submit" value="Enviar" />
    }
</ol>
